@{
    ViewBag.Title = "O mnie...";
}
<h2>@ViewBag.Title</h2>


<p>Ta strona hostowana jest na serwerach MS Azure w celach testowych. Zapraszam na <a href="http://podziemiazamkul.blogspot.com/">moją stronę domową</a> w celu uzyskania dalszych informacji.</p>
